In [2]:
import pandas as pd

In [3]:
crime_df = pd.read_csv('london_crime_by_lsoa.csv')

In [4]:
crime_df.head()

,lsoa_code,borough,major_category,minor_category,value,year,month
0,E01001116,Croydon,Burglary,Burglary in Other Buildings,0,2016,11
1,E01001646,Greenwich,Violence Against the Person,Other violence,0,2016,11
2,E01000677,Bromley,Violence Against the Person,Other violence,0,2015,5
3,E01003774,Redbridge,Burglary,Burglary in Other Buildings,0,2016,3
4,E01004563,Wandsworth,Robbery,Personal Property,0,2008,6

In [5]:
crime_df['value']

0           0
1           0
2           0
3           0
4           0
           ..
13490599    0
13490600    1
13490601    0
13490602    0
13490603    0
Name: value, Length: 13490604, dtype: int64

In [20]:
subset_crime_df = crime_df[crime_df['major_category'] == 'Burglary']
column_sum = subset_crime_df['value'].sum()

In [21]:
subset_crime_df

,lsoa_code,borough,major_category,minor_category,value,year,month
0,E01001116,Croydon,Burglary,Burglary in Other Buildings,0,2016,11
3,E01003774,Redbridge,Burglary,Burglary in Other Buildings,0,2016,3
30,E01001317,Ealing,Burglary,Burglary in a Dwelling,0,2013,9
53,E01000869,Camden,Burglary,Burglary in Other Buildings,0,2013,3
75,E01001600,Greenwich,Burglary,Burglary in Other Buildings,0,2016,11
...,...,...,...,...,...,...,...
13490566,E01000738,Bromley,Burglary,Burglary in a Dwelling,1,2009,1
13490571,E01000531,Brent,Burglary,Burglary in a Dwelling,0,2013,1
13490580,E01003154,Lambeth,Burglary,Burglary in a Dwelling,3,2015,10
13490582,E01003452,Merton,Burglary,Burglary in Other Buildings,0,2014,8
13490601,E01004165,Sutton,Burglary,Burglary in a Dwelling,0,2011,2

In [22]:
column_sum

754293

In [23]:
#value total 1 = 263035
subset_crime_df['value'].value_counts()

0     602395
1     263035
2     105451
3      42071
4      16912
5       6968
6       3117
7       1505
8        763
9        426
10       264
11       176
12       135
13        96
14        65
15        56
17        37
16        36
18        26
19        16
21        14
22         6
24         6
29         5
20         4
23         4
25         4
28         4
26         3
35         1
27         1
33         1
37         1
Name: value, dtype: int64

In [24]:
subset_crime_df['value'].sum()

754293

In [16]:
crime_df['value'].sum()

6447758